/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------- GLOBAL/SMALL SCREEN SIZES --------------- */

:root{
	--white: #FCFAF8;
	--cream: #EEE1D6;
	--dark-green: #1D3933;
	--light-green: #556964;
	--orange: #DA572F;
    --transparent-orange: #da572fcc;
    --red: #D14934;
    --green: #2FA140;
    --blue: #018CDB;
    --light-gray: #eaeaea;
    --med-gray: #555;
    --dark-gray: #222;
	--fonts: 'Prompt', sans-serif;
    --small-shadow: 3px 3px 6px var(--med-gray);
    --spread-shadow: 6px 6px 10px var(--med-gray);
    --filter-shadow: drop-shadow(0 0 0.25rem var(--med-gray));
	font-size: 16px;
}

body{
    box-sizing: border-box;
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, var(--light-gray) 79px, var(--light-gray) 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    color: var(--dark-gray);
}

/* from: https://webaim.org/techniques/css/invisiblecontent/ */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
 
#skip:focus{
	position: static;
	width: auto;
	height: auto;
}

header, main, footer{
	line-height: 1.5;
	font-family: var(--fonts);
    background-image: url("images/concrete-wall.png");
}

header{
    border-bottom: 3px dashed var(--orange);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header svg{
    display: block;
    width: 100px;
    padding: 1rem;
    margin: 0 auto;
}

h1, h2, h3, h4{
    font-family: var(--fonts);
    font-weight: 800;    
    color: var(--dark-green);
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem;
    grid-column: 1/-1;
}

h2{
    font-size: 2rem;
    margin: 1rem 0;
}

h3, h4{
    font-size: 2rem;
    margin: 0.5rem 0
}

p{
    padding: 1rem;
    max-width: 75ch;
    margin: 1rem auto;
    font-weight: 400;
}

header p{
    font-size: 1.1rem;
    margin: 0;
    padding: 0 0 2rem 0;
    text-align: center;
    grid-column: 1/-1;
}

nav{
    justify-self: end;
}

#menuToggle {
	display: block;
	position: relative;
	z-index: 1; 
	-webkit-user-select: none;
	-moz-user-select: none;
	 -ms-user-select: none;
		 user-select: none;
}

#menuToggle a {
	text-decoration: none;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	background-color: var(--white);
	display: block;
	padding: 1rem;
	width: calc(100% - 2rem);
	text-align: center;
}

/* The hamburger button hidden inside an input element */
#menuToggle input {
	display: block;
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 10px;
	left: -8px;  
	padding: 0;
	cursor: pointer;  
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */  
	-webkit-touch-callout: none;
}

#menuToggle label {
	position: relative;
	display: block;
	width: 3rem;
	height: 3rem;
    margin-right: 2rem;
}

#menuToggle label span {
	display: block;
	width: 3rem;
	height: 3rem;
	position: relative;
	z-index: 1;  
	-webkit-transform-origin: 4px 0px;  
		-ms-transform-origin: 4px 0px;  
			transform-origin: 4px 0px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#menuIcon{
	font-family: "Anicons Regular", sans-serif;
	font-variation-settings: "TIME" 1;
	font-size: 3rem;
	color: var(--dark-green);
	transition: font-variation-settings 0.4s ease;
}

#menuToggle input:checked + label span {
	font-variation-settings: "TIME" 100;
}

/*
 * Use absolute positioning to place the menu off-screen
 */
#menu{
	position: absolute;
	width: 100vw;
	margin-top: -6rem;
	padding: 6rem 0 3rem 0;
	background-color: var(--white);
	right: 100vw;
	-webkit-transition: right 0.3s ease;
	-o-transition: right 0.3s ease;
	transition: right 0.3s ease; 
}

/*
* Slide the menu in from left when the input is checked
*/
#menuToggle input:checked ~ ul {
	right: 0;
}

a{
    display: block;
    padding: 1rem;
}

#menuToggle a{
    font-size: 1.35rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--dark-green);
    width: 200px;
    margin: 0.75rem auto;
}

#menuToggle a:hover{
    background-color: var(--dark-green);
    color: var(--white);
    border-radius: 3rem;
    box-shadow: var(--spread-shadow);
}

section{
    padding: 1rem;
}

img{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#about{
    border-bottom: 3px dashed var(--orange);
     padding: 1rem 1rem 3rem 1rem;
     max-width: 1000px;
     margin: 0 auto;
}

#about p{
    padding: 0;
    font-weight: 400;
}

#about a{
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    border-radius: 3rem;
    box-shadow: var(--small-shadow);
    margin: 1rem auto 2rem auto;
}

#about a:hover{
    box-shadow: var(--spread-shadow);
    background-color: var(--transparent-orange);
}

#about img{
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
}

#about ul{
    list-style-type: circle;
    font-weight: 400;
    padding-left: 2rem;
}

#jobHistory{
    padding: 0.5rem;
    width: 95%;
    margin: 2rem auto;
    border: 1px solid var(--dark-green);
}

.dates{
    text-align: right;
}

.ui-accordion .ui-accordion-header {
    border-radius: 2rem;
    border: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.ui-state-active{
    background-color: var(--light-green);
    color: var(--white);
}

#work{
    border-bottom: 3px dashed var(--orange);
    padding: 1rem 1rem 3rem 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.ui-tabs .ui-tabs-nav{
    border-radius: 2rem;
    padding: 0.5rem;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor, .ui-state-default{
    font-weight: 600;
    letter-spacing: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    margin: 0.5rem 15%;
}

.ui-tabs .ui-tabs-nav li{
    border-radius: 2rem;
    margin: 0.5rem 15%;
}

#play{
    font-size: 1.1rem;
    padding: 1rem 1rem 3rem 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

#play p{
    margin: 0 auto;
    padding: 0;
}

#viewColors{
    width: 100%;
    max-width: 664px;
    margin: 2rem auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#color1, #color2, #color3, #color4, #color5{
    width: 100px;
    height: 100px;
    box-shadow: var(--small-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 0.25rem;
    margin: 0 auto;
}

#viewColors span{
    background-color: var(--white);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    filter: var(--filter-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

#color1{
    background-color: var(--white);
}

#color2{
    background-color: var(--cream);
}

#color3{
    background-color: var(--light-green);
}

#color4{
    background-color: var(--dark-green);
}

#color5{
    background-color: var(--orange);
}

form{
    font-family: var(--fonts);
}

legend{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--dark-green);
}

.ui-widget{
    font-family: var(--fonts);
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 2rem;
    box-shadow: var(--small-shadow);
    background-color: var(--white);
}

.ui-widget.ui-button{
    background-color: var(--dark-green);
    color: var(--white);
    margin: 0.5rem 0.25rem;
}

.ui-widget.ui-checkboxradio-checked{
    background-color: var(--white);
    color: var(--dark-green);
}

.ui-button.ui-state-active:hover{
    box-shadow: var(--spread-shadow);
    border: none;
    font-weight: 600;
}

form .ui-button:hover{
    box-shadow: var(--spread-shadow);
    border: none;
    font-weight: 600;
}

.ui-widget.ui-widget-content {

    padding: 0.5rem;
}

.ui-slider-horizontal .ui-slider-handle{
    padding: 0.5rem;
    border-radius: 50%;
    margin-left: -1.5rem;
}

#colorSelector{
    padding: 0;
}

#red .ui-slider-range{
    background-color: var(--red);
    border-radius: 2rem 0 0 2rem; 
}

#red{
    margin: 2rem auto;
    width: 90%;
}

#blue .ui-slider-range{
    background-color: var(--blue);
    border-radius: 2rem;
}

#blue{
    margin: 2rem auto;
    width: 90%;
}

#green .ui-slider-range{
    background-color: var(--green);
    border-radius: 2rem;
}

#green{
    margin: 2rem auto;
    width: 90%;
}

#swatch{
    width: 100px;
    height: 100px;
    box-shadow: var(--small-shadow);
    margin: 0 auto;
    border-radius: 0.25rem;
}

#changeColor{
    display: block;
    font-family: var(--fonts);
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--dark-green);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 3rem;
    box-shadow: var(--small-shadow);
}

#changeColor:hover{
    box-shadow: var(--spread-shadow);
    background-color: var(--light-green);
}

footer{
    background-color: var(--dark-green);
    color: var(--white);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: center;
    text-align: center;
}

footer section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    max-width: 300px;
    margin: 0 auto;
}

footer p{
    padding: 1rem 0 0 1rem;
    margin: 0;
}

footer a{
    color: var(--white);
    display: block;
    padding: 0.5rem;
}

footer a:hover{
    color: var(--orange);
}

footer i{
    font-size: 3rem;
}

/* from: https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* ---------------- MEDIUM SCREEN SIZES --------------- */
@media screen and (min-width: 600px){
    header{
        padding: 1rem;
    }

    header svg{
        width: 80%;
    }

    header p{
        text-align: center;
        max-width: 100%;
    }

    #menuToggle input:checked ~ ul {
        right: -1rem;
    }

    #about div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 2rem auto;
    }

    .ui-tabs .ui-tabs-nav li{
        margin: 0 0.5rem;
    }

    .ui-tabs .ui-tabs-nav li.ui-tabs-active{
        margin: 0 0.5rem;
    }

    .ui-tabs .ui-tabs-panel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: center;
    }

    .ui-tabs .ui-tabs-panel h3{
        grid-column: 1/-1;
        margin: 0;
    }

    .ui-tabs .ui-tabs-panel p{
        margin: 0;
        padding: 0;
    }

    #viewColors{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    form{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    fieldset, button{
        grid-column: 1/-1;
    }

    fieldset{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        width: 80%;
        margin: 1rem auto;
    }

    legend{
        grid-column: 1/-1;
    }

    #changeColor{
        margin: 0;
        justify-self: end;
    }
}

/* ---------------- LARGE SCREEN SIZES --------------- */
@media screen and (min-width: 1000px){
    header{
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        padding: 2rem;
    }

    header svg{
        min-width: 200px;
        max-width: 300px;
    }

    h1{
        font-size: 5rem;
        margin: 2rem 0 0 0;
    }

    h1, header p{
        grid-column: 1/-1;
    }

    header p{
        font-size: 2rem;
    }

    #menuToggle{
        position: static;
        width: 100%;
    }

	#menuToggle input, #menuToggle label{
		display: none;
	}

    nav{
        margin: 0;
        background-color: transparent;
    }

    #menu{
        position: static;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
        padding: 0;
        margin: 1rem 0;
        width: 100%;
        background-color: transparent;
    }

    #menuToggle a{
        font-size: 2rem;
        background-color: transparent;
        padding: 1rem;
        border-radius: 3rem;
    }

    #about{
        display: grid;
        grid-template-columns: 1fr 2fr;;
        gap: 1rem;
        padding: 1rem;
    }

    #about div{
        display: block;
    }

    legend{
        margin-left: -5rem;
    }

    #swatch{
        width: 200px;
        height: 200px;
    }

    #changeColor{
        margin-right: 4rem;
    }

    footer p{
        padding: 0;
    }
}